[submodule "src"]
	path = src
	url = https://github.com/dlan17/u-boot
	branch = allwinner/A733/boot
[submodule "tools"]
	path = tools
	url = https://gitlab.com/tina5.0_aiot/lichee/tools.git
	branch = product-aiot-stable
[submodule "atf"]
	path = atf
	url = https://github.com/dlan17/trusted-firmware-a.git
	branch = A733
[submodule "allwinner-arisc"]
	path = allwinner-arisc
	url = https://github.com/radxa/allwinner-arisc.git
	branch = main
[submodule "allwinner-dramlib"]
	path = allwinner-dramlib
	url = https://github.com/radxa/allwinner-dramlib.git
	branch = main
